* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #000;
}

h1 {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sobre {
    padding: 20px;
    border: 10px solid gold;
}